<h1>Add Event</h1>

<form method="post">
    <label>Name: </label>
    <input name="name" type="text" /> <br />
    <label>Event description: </label>
    <textarea name="description"></textarea><br />
    <input type="submit" value="Add Event" />
</form>
